body{
    background-color: black;
}

h1{
    color: white;
}

h3{
    color: white;
}

.spaced-element {
    margin-bottom: 30px;
}

button{
  background-color:#000000;
  border-color:#000000;
  border: double 5px;
  text: white;
}

button {
  cursor: pointer;
}
button:hover{
  background-color:#000000;
  border: double 3px;
}
button:active{
  background-color:#373737;
}